body {
    background-color: #efefef;
}

h1 {
    font-size: 1.5rem;
    border-bottom: solid 1px black;
    padding-bottom: 0.5rem;
    letter-spacing: 0.3rem;
}

a {
    color: gray;
}
table {
    border-collapse: collapse;
}
table.input-form > tbody > tr > th, table.input-form > tbody > tr > td,
table.input-form > thead > tr > th {
    border-bottom: solid 1px black;
    padding: 0.7rem;
}

table.input-form > tfoot > tr > td,
table.list > tfoot > tr > td {
    text-align: center;
    padding-top: 1rem;
}

table.input-form ul {
    padding-left: 1rem;
    margin: 0 auto;
    font-size: 0.8rem;
}

table.list {
    width: 90%;
    margin: 2rem auto;
}
table.list > thead > tr > th {
    border-bottom: double 3px black;
    padding-bottom: 0.5rem;
}

table.list > tbody > tr > th, table.list > tbody> tr > td {
    border-bottom: solid 1px black;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    letter-spacing: 0.3rem;
}

input[type='submit'], button {
    padding: 0.3rem 1rem;
}

#container {
    width: 800px;
    margin: 0 auto;
    background-color: white;
}

#content {
    padding: 1rem 5rem;
}

#footer {
    text-align: right;
    font-size: 0.5rem;
    padding-bottom: 0.3rem;
    padding-right: 0.3rem;
}