.image-btn {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 16px;
    -fx-background-color: transparent;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

.image-btn:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.run-btn {
    -fx-background-image:url('/icon/ic_play_arrow_black_18dp_1x.png');
}

.debug-btn {
    -fx-background-image:url('/icon/ic_bug_report_black_18dp_1x.png');
}

.parallel-btn {
    -fx-background-image:url('/icon/ic_fast_forward_black_18dp_1x.png');
}

.pause-btn {
    -fx-background-image:url('/icon/ic_pause_black_18dp_1x.png');
}

.back-btn {
    -fx-background-image:url('/icon/ic_skip_previous_black_18dp_1x.png');
}

.forward-btn {
    -fx-background-image:url('/icon/ic_skip_next_black_18dp_1x.png');
}

.quit-btn {
    -fx-background-image:url('/icon/ic_stop_black_18dp_1x.png');
}

.record-btn {
    -fx-background-image:url('/icon/ic_fiber_manual_record_black_18dp_1x.png');
}

.export-btn {
    -fx-background-image:url('/icon/ic_file_download_black_18dp_1x.png');
}

.maximize-btn {
    -fx-background-image:url('/icon/ic_fullscreen_black_18dp_1x.png');
}

.minimize-btn {
    -fx-background-image:url('/icon/ic_fullscreen_exit_black_18dp_1x.png');
}
