.table-row-cell:empty {
    -fx-background-color: #f3f3f3;
}

.table-cell.debugStep {
    -fx-background-color: lightgreen;
}

.table-cell.debugCase {
    -fx-background-color: lightyellow;
}

.table-cell.debugCase.debugStep {
    -fx-background-color: yellowgreen;
}

.test-step-picker, .test-step-picker-info {
	-fx-graphic: none;
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 80% auto;
}

.test-step-picker {
	-fx-opacity: 0;
	-fx-background-image: url('/icon/ic_fiber_manual_record_black_18dp_1x.png');
}

.test-step-picker.enabled {
	-fx-opacity: 1;	
}
