/src/main/java/
/src/main/webapp/
/src/main/resources/
/src/test/java/
/src/test/resources/
/build/archetype/target/
/bin/.pause
/bin/.step-back
/bin/.step-forward
/distribution/archetype/target/
/distribution/archetype/src/
/target/
pause.txt
