#if ($test.pkg)
package ${test.pkg};

#end
import org.junit.Test;
import static org.junit.Assert.*;
import io.sitoolkit.wt.domain.tester.SitTesterTestBase;
import org.springframework.test.context.TestExecutionListeners;
import org.springframework.test.context.support.DependencyInjectionTestExecutionListener;

/**
 *
 */
public class $test.fileBase extends SitTesterTestBase {

#foreach ($caseNo in $test.caseNos)
    @Test
    public void $test.buildMethodName($caseNo)() {
        test("$test.escape($caseNo)", null);
    }
#end

    @Override
    protected String getTestScriptPath() {
        return "$test.scriptPath";
    }

    @Override
    protected String getSheetName() {
        return "$test.sheetName";
    }
}
