<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%-7.7thread] %-5p %-30.30logger{0} - %m%n</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>target/sit-wt.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%-7.7thread] %-5p %-30.30logger{0} - %m%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <logger name="org.sitoolkit" level="debug" additivity="true">
    <appender-ref ref="stdout" />
  </logger>
  <logger name="org.sitoolkit.wt.infra.selenium.WebElementMethodInterceptor" level="debug"
    additivity="true" />
  <logger name="org.sitoolkit.wt.app.config" level="debug" additivity="true" />

  <logger name="org.springframework" level="warn" additivity="true" >
  </logger>
  <logger name="org.springframework.test.context.support.DependencyInjectionTestExecutionListener"
    level="warn" additivity="true" />
  <logger name="org.springframework.test.context.TestContextManager" level="warn" additivity="true" />

  <root level="info">
    <appender-ref ref="file" />
  </root>
</configuration>