<!DOCTYPE html>
<html>
  <head>
    <title>テストエビデンス $testScriptName ケース_$caseNo $result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/jquery.js"></script>
    <script src="js/numbering.js"></script>
  </head>
  <body>
    <div class="container">
      <a href="./">エビデンスフォルダへ</a>
      <div class="page-header">
        <h1>テストエビデンス $testScriptName ケース_$caseNo $result</h1>
      </div>
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>操作ログ</th>
        </tr>
      </thead>
      <tbody>
#foreach ($rec in $records)
        <tr>
          <th>$rec.no</th>
#if ($rec.screenshot)
                    <td class="screenshot">[$rec.timestamp] $rec.screenshot.fileName
            <img src="$rec.screenshot.filePath" class="img-responsive"/>
#foreach ($pos in $rec.screenshot.positions)
            <input type="hidden" value='{"no":"$pos.no","x":$pos.x,"y":$pos.y,"w":$pos.w,"h":$pos.h}'/>
#end ## foreach
#else
                    <td>[$rec.timestamp] $rec.log
#end ## if
          </td>
        </tr>
#end
      </tbody>
    </table>
    </div>
  </body>
</html>
