<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>sit-wt-web</display-name>
	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>io.sitoolkit.wt.infra.FileUploadServlet</servlet-class>
		<multipart-config>
			<max-file-size>10000000</max-file-size>
			<file-size-threshold>5000000</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/fileupload</url-pattern>
	</servlet-mapping>
</web-app>
