<!DOCTYPE html>
<html>
	<head>
		<title>操作ログ $testScriptName ケース_$caseNo $result</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="style.css"/>
		<script src="jquery.js"></script>
		<script src="numbering.js"></script>
	</head>
	<body>
		<h1>操作ログ $testScriptName ケース_$caseNo $result</h1>
		<table>
			<thead>
				<tr>
					<th>No</th>
					<th>タイムスタンプ</th>
					<th>操作ログ</th>
				</tr>
			</thead>
			<tbody>
#foreach ($rec in $records)
				<tr>
					<th>$rec.no</th>
					<td>$rec.timestamp</td>
#if ($rec.screenshot)
                    <td class="screenshot">$rec.screenshot.fileName
						<img src="$rec.screenshot.filePath"/>
#foreach ($pos in $rec.screenshot.positions)
						<input type="hidden" value='{"no":$pos.no,"x":$pos.x,"y":$pos.y,"w":$pos.w,"h":$pos.h}'/>
#end ## foreach
#else
                    <td>$rec.log
#end ## if
					</td>
				</tr>
#end
			</tbody>
		</table>
	</body>
</html>
