$(function () {

  var typeMap = new Map();
  typeMap.set("evidence", "${report-evidence-type-normal}");
  typeMap.set("mask", "${report-evidence-type-mask}");
  typeMap.set("comp", "${report-evidence-type-compare}");
  typeMap.set("compmask", "${report-evidence-type-compare-mask}")
  typeMap.set("compng", "${report-evidence-type-compare-ng}");

  var section = $("h2:contains(Test Cases)").closest(".section");

  var buildEvidenceLinks = function (data) {
    var links = "";
    typeMap.forEach(function (label, type) {
      let path = data[type];
      if (path.length > 0) {
        links += buildLinkTag(path, label);
      }
    })
    return links;
  };

  let buildLinkTag = function (href, label) {
    return " " + $("<a />").attr({
      href: href,
      target: "_blank",
    }).text("[ " + label + " ]")[0].outerHTML;
  };

  $("input.evidence").each(function () {
    let input = $(this);
    section.find("td > a[name='TC_" + input.data("name") + "']").each(function () {
      let td = $(this).parent();
      td.append(" ( ${report-evidence-label}： " + buildEvidenceLinks(input.data()) + " )");
    });
  });

});